@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');
  
  * {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

  }

body {
    margin: 0;
    padding: 0;
    background: #f8f9fa!important;
}
/* 
#chart-section {
    min-height: 100vh;
} */

/* .selector-button {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
    place-content: center;
    width: 100%;
    padding: 0.5rem 0.5rem;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #6d6980;
    background-color: #f9f9fb;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgb(62 57 107 / 13%);
    margin-bottom: 15px;
    height: 70px;
} */

/* .selector-button .icon {
    display: inline-block;

    padding: 1.5rem;
    border-radius: 50%;

    font-size: 2rem;
    text-align: center;

    color: #11adad;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgb(62 57 107 / 13%);
}
.selector-button .icon::before {
    position: absolute;
    transform: translate(-50%, -50%);
} */

.selector-button {
    width: 100%;
    display: block;
    padding: 0.5rem 0.5rem;
    text-align: left;
    border: none;
    border-radius: 10px;
    position: relative;
    font-size: 1.5rem;
    font-weight: 100 !important;
    color: #6d6980;
    background-color: #f9f9fb;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgb(62 57 107 / 13%);
    margin-bottom: 15px;
    height: 70px;
}
.selector-button span {
    position: absolute;
    top: 30%;
  }
  .selector-button .icon {
      display: inline-block;
      padding: 1.5rem;
      border-radius: 50%;
      margin-right: 0.8rem;
      font-size: 2rem;
      color: #11adad;
      background-color: white;
      box-shadow: 0 2px 4px 0 rgb(62 57 107 / 13%);
  }
  .selector-button .icon::before {
      position: absolute;
      transform: translate(-50%, -50%);
  }
  

.hide {
    display: none !important;
}

/* daily hoyr btn */
.btn {
    height: 50px;
    width: 100px;
    padding: 0;
    margin: 0;
}

.selector-button:hover {
    background-color: #11adad;
    color: #fff;
}

.selector-button .icon:hover{
    color: #ffa139;
}

.col-3 {
    margin-top: 50px !important;
}

.btn.btn-custom1{
    background-color: #11adad !important;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.btn.btn-custom2{
    background-color: #ffa139 !important;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}




/* Media queries */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .chart-container.col-9{
            width: 100%;
            margin-right: 5px;
            margin-left: 5px;
    }
    .col-3{
        display: grid !important;
        grid-template-columns: 238% 234% !important;
    }
}

@media screen and (max-width:1000px){
    .chart-container.col-9{
        width: 97%;
        margin-right: 5px ;
        margin-left: 8px ;
    }
    #chart-selector-buttons{
        display: grid !important;
        grid-template-columns: 238% 234%;
        grid-template-rows: 72px 72px;
        grid-gap: 5px;
    }
    
}